extends layout.jade
block arguments
    -
        errorText = argError
block additionalHead
block content
    h2.sub-header Sign Up
    if errorText
        .alert.alert-danger#alert
            a.close#close_alert &times
            p#text_alert= errorText
    else
        .alert.alert-danger#alert(hidden)
            a.close#close_alert &times
            p#text_alert
    form#form(name='signup_form' role='form' action='/signup' method='post')
        .form-group
            label(for='inputUsername') Username
            input#inputUsername.form-control(type='text'
            name='username' placeholder='Enter username')
        .form-group
            label(for='inputEmail') Email
            input#inputEmail.form-control(type='text'
            name='email' placeholder='Enter email address')
        .form-group
            label(for='inputPassword') Password
            input#inputPassword.form-control(type='password'
            name='password' placeholder='Password')
        .form-group
            label(for='inputPassword2') Confirm Password
            input#inputPassword2.form-control(type='password'
            name='password2' placeholder='Enter username again')
        .form-group
            label Categories you interested in
            div
                label.checkbox-inline
                    input(type='checkbox' name="categories" value='sports' checked)
                    | 体育
                label.checkbox-inline
                    input(type='checkbox' name="categories" value='ent' checked)
                    | 娱乐
                label.checkbox-inline
                    input(type='checkbox' name="categories" value='tech' checked)
                    | 科技
                label.checkbox-inline
                    input(type='checkbox' name="categories" value='finance' checked)
                    | 财经
                label.checkbox-inline
                    input(type='checkbox' name="categories" value='military' checked)
                    | 军事
                label.checkbox-inline
                    input(type='checkbox' name="categories" value='world' checked)
                    | 世界
                label.checkbox-inline
                    input(type='checkbox' name="categories" value='local' checked)
                    | 本地
        button.btn.btn-default(type='submit') Sign Up
block additionalScript
    script(src='/javascripts/validate.min.js')
    script.
        var validator = new FormValidator('signup_form', [{
            name: 'username',
            display: 'Username',
            rules: 'required|alpha_dash|min_length[3]|max_length[20]'
        }, {
            name: 'email',
            display: 'Email',
            rules: 'valid_email|required'
        }, {
            name: 'password',
            display: 'Password',
            rules: 'required|alpha_numeric|min_length[6]|max_length[20]'
        }, {
            name: 'password2',
            display: 'Confirm Password',
            rules: 'required|matches[password]'
        }], function (errors, event) {
            if (errors.length > 0) {
                $("#text_alert").text(errors[0].message);
                $("#alert").show()
            } else {
                $('#form').submit();
            }
        });

        $("#close_alert").click(function () {
            $("#alert").hide();
        });
